main.page-wrapper
  include ../includes/menu
  section.position-relative.zindex-5.pb-4.mb-md-3.mx-5.pt-6
    .row
      include ../includes/alerts
    .row.mx-n2.py-2
      .col-md-12.col-sm-6.px-2.mb-3
        .card.bg-dark
          .card-header
            .row.align-items-center
              .col
                h4.card-header-title.text-white
                  | Rewards Calculator
          .card-body
            .row
              .col-lg-3.col-md-3.col-sm-6.px-2.mb-3.text-center
                .form-group.mb-3
                  input#combat-character.form-control.form-control.bg-dark.text-white(placeholder='Character ID')
                .form-group.mb-3
                  input#combat-weapon.form-control.form-control.bg-dark.text-white(placeholder='Weapon ID')
              .col-lg-2.col-md-2.col-sm-6.px-2.mb-3.text-center
                .coinzilla(data-zone='C-8496231acdf7913993')
                  script.
                      window.coinzilla_display = window.coinzilla_display || [];
                      var c_display_preferences = {};
                      c_display_preferences.zone = "8496231acdf7913993";
                      c_display_preferences.width = "300";
                      c_display_preferences.height = "250";
                      coinzilla_display.push(c_display_preferences);
                //span#ct_c5LvQymTc1z
              .col-lg-9.col-md-7.col-sm-12.px-2.mb-3.text-center
                .table-responsive.mb-0
                  table#table-result.table.table-sm.card-table.table-bordered
                    thead.text-center
                      tr
                        th.text-white.align-middle.bg-wins(rowspan=3)
                          | Wins
                        th.text-white.align-middle.bg-daily(colspan=6)
                          | Daily
                        th.text-white.align-middle.bg-weekly(colspan=6)
                          | Weekly
                        th.text-white.align-middle.bg-monthly(colspan=6)
                          | Monthly
                      tr
                        th.text-white.align-middle.bg-daily(colspan=2)
                          | Skill
                        th.text-white.align-middle.bg-daily(colspan=2)
                          | Exp
                        th.text-white.align-middle.bg-daily(colspan=2)
                          | Gas Offset
                        th.text-white.align-middle.bg-weekly(colspan=2)
                          | Skill
                        th.text-white.align-middle.bg-weekly(colspan=2)
                          | Exp
                        th.text-white.align-middle.bg-weekly(colspan=2)
                          | Gas Offset
                        th.text-white.align-middle.bg-monthly(colspan=2)
                          | Skill
                        th.text-white.align-middle.bg-monthly(colspan=2)
                          | Exp
                        th.text-white.align-middle.bg-monthly(colspan=2)
                          | Gas Offset
                      tr
                        th.text-white.align-middle.bg-daily
                          | Min
                        th.text-white.align-middle.bg-daily
                          | Max
                        th.text-white.align-middle.bg-daily
                          | Min
                        th.text-white.align-middle.bg-daily
                          | Max
                        th.text-white.align-middle.bg-weekly
                          | Min
                        th.text-white.align-middle.bg-weekly
                          | Max
                        th.text-white.align-middle.bg-weekly
                          | Min
                        th.text-white.align-middle.bg-weekly
                          | Max
                        th.text-white.align-middle.bg-monthly
                          | Min
                        th.text-white.align-middle.bg-monthly
                          | Max
                        th.text-white.align-middle.bg-monthly
                          | Min
                        th.text-white.align-middle.bg-monthly
                          | Max
                        th.text-white.align-middle.bg-weekly
                          | Min
                        th.text-white.align-middle.bg-weekly
                          | Max
                        th.text-white.align-middle.bg-weekly
                          | Min
                        th.text-white.align-middle.bg-weekly
                          | Max
                        th.text-white.align-middle.bg-weekly
                          | Min
                        th.text-white.align-middle.bg-weekly
                          | Max
                    tbody.text-center
            button#btn-simulate.btn.btn-secondary(type='button' onclick='testSimulate()') Run
include ../footer
