footer.footer
    p.text-center.mb-2
      if !isPhone
        ins.63780c0b3c0a9f5c7b6bdf3c(style='display:inline-block;width:970px;height:90px;')
        script.
          !function(e,n,c,t,o,r,d){!function e(n,c,t,o,r,m,d,s,a){s=c.getElementsByTagName(t)[0],(a=c.createElement(t)).async=!0,a.src="https://"+r[m]+"/js/"+o+".js?v="+d,a.onerror=function(){a.remove(),(m+=1)>=r.length||e(n,c,t,o,r,m)},s.parentNode.insertBefore(a,s)}(window,document,"script","63780c0b3c0a9f5c7b6bdf3c",["cdn.bmcdn4.com"], 0, new Date().getTime())}();
      else
        ins.63780d863c0a9f5c7b6be165(style='display:inline-block;width:300px;height:100px;')
        script.
          !function(e,n,c,t,o,r,d){!function e(n,c,t,o,r,m,d,s,a){s=c.getElementsByTagName(t)[0],(a=c.createElement(t)).async=!0,a.src="https://"+r[m]+"/js/"+o+".js?v="+d,a.onerror=function(){a.remove(),(m+=1)>=r.length||e(n,c,t,o,r,m)},s.parentNode.insertBefore(a,s)}(window,document,"script","63780d863c0a9f5c7b6be165",["cdn.bmcdn4.com"], 0, new Date().getTime())}();
    p.fs-sm.text-center.mb-0.pb-1
        span.text-light.opacity-50.me-1 Made by
        a.nav-link-style.nav-link-light.text-white(href='https://github.com/ed3ath' target='_blank' rel='noopener') eD3ath
        | &nbsp;with
        span.opacity-50.me-1(style='color: red;') &nbsp;&hearts;&hearts;&hearts;
    p.fs-sm.text-center.mb-0.pb-5
        | Donation address:
        span.donate.text-white 0x2548696795a3bCd6A8fAe7602fc26DD95A612574
