.col-md-12
  .d-flex.justify-content-center.align-items-center
    if !isPhone
      //span#ct_cH8icOIcl5J
      .coinzilla(data-zone='C-1836231acdf79c70725')
        script.
            window.coinzilla_display = window.coinzilla_display || [];
            var c_display_preferences = {};
            c_display_preferences.zone = "1836231acdf79c70725";
            c_display_preferences.width = "728";
            c_display_preferences.height = "90";
            coinzilla_display.push(c_display_preferences);
    else
      //span#ct_c5LvQymTc1z
      .coinzilla(data-zone='C-8496231acdf7913993')
        script.
            window.coinzilla_display = window.coinzilla_display || [];
            var c_display_preferences = {};
            c_display_preferences.zone = "8496231acdf7913993";
            c_display_preferences.width = "300";
            c_display_preferences.height = "250";
            coinzilla_display.push(c_display_preferences);
footer.footer
    p.fs-sm.text-center.mb-0.pb-1
        span.text-light.opacity-50.me-1 Made by
        a.nav-link-style.nav-link-light.text-white(href='https://github.com/ed3ath' target='_blank' rel='noopener') eD3ath
        | &nbsp;with
        span.opacity-50.me-1(style='color: red;') &nbsp;&hearts;&hearts;&hearts;
    p.fs-sm.text-center.mb-0.pb-5
        | Donation address:
        span.donate.text-white 0x2548696795a3bCd6A8fAe7602fc26DD95A612574
